/* Estilos para los elementos div */
div {
  text-align: center;
  background-color: #ffe6b3; /* Amarillo claro */
  font-family: Arial, sans-serif; /* Fuente más clásica */
  padding: 20px; /* Añade espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.3); /* Sombra suave */
}

/* Estilos para el encabezado h1 */
h1 {
  font-size: 3.5rem; /* Tamaño de fuente grande */
  color: #ff8c00; /* Naranja oscuro */
  text-transform: uppercase;
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-bottom: 30px; /* Añade espacio inferior */
}

/* Estilos para el encabezado h2 */
h2 {
  font-size: 2.5rem; /* Tamaño de fuente mediano */
  color: #ff4500; /* Naranja medio */
  margin-bottom: 20px; /* Añade espacio inferior */
}

/* Estilos para las imágenes */
img {
  margin-top: 20px;
  border-radius: 10px; /* Haz la imagen con bordes redondeados */
  border: 3px solid #ffa500; /* Borde naranja */
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.5); /* Sombra suave */
  transition: transform 0.4s ease; /* Transición suave */
}

/* Efecto de zoom al hacer hover sobre las imágenes */
img:hover {
  transform: scale(1.05); /* Efecto de escala al hacer hover */
}

/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 12px 24px;
  margin: 15px;
  font-size: 1.3rem; /* Tamaño de fuente mediano */
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #ff4500; /* Naranja medio */
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff6347; /* Rojo coral */
  color: #fff; /* Texto blanco */
  transition: all 0.3s ease;
}

/* Estilos para el botón hover */
.button:hover {
  background-color: #ff4500; /* Naranja medio */
  border-color: #ff4500; /* Naranja medio */
}

/* Estilos para los párrafos */
p {
  font-size: 1.1rem; /* Tamaño de fuente pequeño */
  color: #ff6347; /* Rojo coral */
  margin-bottom: 15px; /* Añade espacio inferior */
}
